ipykernel
ipywidgets
numpy
pandas
llama_index
pymongo
transformers
torch 
torchvision 
torchaudio
accelerate
bitsandbytes
pytesseract
pdf2image
PyPDF2
pyarrow
fastparquet
pydicom
opencv-python
matplotlib
langchain
scikit-image
imageio
albumentations
peft
cucim
openslide-python
colour-science
scipy
pytesseract
onnxruntime
SimpleITK
nibabel
timm